.PhotoDetail-container {
  width: 500px;
  background: #FFFFFC;
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
  padding: 0.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.PhotoDetail-about {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Photodetail-location {
  text-align: right;
}

.Photodetail-link {
  font-weight: bold;
  font-size: 0.8rem;
}