.Photo-container {
  width: calc(50% - 1rem);
  position: relative;
  height: 17rem;
  margin: 0.5rem;
  background: #2f3c69; /* Dark blue for testing */
}

.Photo-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 6px;

  filter:  url(#monochrome) grayscale(0.8);
  /*box-shadow: #224 0.2em 0.2em 0.6em 0.1em;*/
}

.defs-only {
  position: absolute;
  height: 0; width: 0;
  overflow: none;
  left: -100%;
}

.Photo-pose {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  text-align: center;
  padding: 0.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-family: 'Courier New';
  font-weight: bold;
}